In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Settings
colors = {
    'land': ,
    'rest': ,
    'port': ,
}

SyntaxError: invalid syntax (<ipython-input-13-4bb81fc6dfdf>, line 7)

In [2]:
# Load data
collection = pd.read_csv("tate/paintings.csv", index_col=0)

collection

,artist,title,year,width,height,ratio,groundtruth
N01506,"Sir John Everett Millais, Bt",Ophelia,1851,1118,762,1.467192,O
T13896,John Constable,Salisbury Cathedral from the Meadows,1831,1920,1537,1.249187,L
T05010,Pablo Picasso,Weeping Woman,1937,500,608,0.822368,O
N01615,John Singer Sargent,"Carnation, Lily, Lily, Rose",1885,1537,1740,0.883333,O
T02343,Salvador Dalí,Metamorphosis of Narcissus,1937,781,511,1.528376,O
...,...,...,...,...,...,...,...
N05609,Maurice Sterne,Mexican Church Interior,1934,1022,1283,0.796571,O
T14823,Unknown artist,Leon Trotsky,1980,480,510,0.941176,P
AL00397,Louise Bourgeois,Untitled,1946,1116,660,1.690909,O
T14824,Unknown artist,Leon Trotsky,1980,511,638,0.800940,P
T14825,Unknown artist,Leon Trotsky,1980,455,567,0.802469,P

In [10]:
iland = collection['ratio'] >= 1.2
iport = collection['ratio'] <= .8
irest = (~iland) & (~iport)

collection['model'] = 'O'
collection.loc[iland,'model'] = 'L'
collection.loc[iport,'model'] = 'P'

collection

,artist,title,year,width,height,ratio,groundtruth,model
N01506,"Sir John Everett Millais, Bt",Ophelia,1851,1118,762,1.467192,O,L
T13896,John Constable,Salisbury Cathedral from the Meadows,1831,1920,1537,1.249187,L,L
T05010,Pablo Picasso,Weeping Woman,1937,500,608,0.822368,O,O
N01615,John Singer Sargent,"Carnation, Lily, Lily, Rose",1885,1537,1740,0.883333,O,O
T02343,Salvador Dalí,Metamorphosis of Narcissus,1937,781,511,1.528376,O,L
...,...,...,...,...,...,...,...,...
N05609,Maurice Sterne,Mexican Church Interior,1934,1022,1283,0.796571,O,P
T14823,Unknown artist,Leon Trotsky,1980,480,510,0.941176,P,O
AL00397,Louise Bourgeois,Untitled,1946,1116,660,1.690909,O,L
T14824,Unknown artist,Leon Trotsky,1980,511,638,0.800940,P,O
T14825,Unknown artist,Leon Trotsky,1980,455,567,0.802469,P,O

In [12]:
fig, ax = plt.subplots(figsize=(6,6), dpi=120)

ax.set_xlabel('Width (mm)')
ax.set_ylabel('Height (mm)')

ax.set_xlim(200, 5000)
ax.set_ylim(200, 5000)

ax.set_xscale('log')
ax.set_yscale('log')

ax.scatter(collection[iland]['width'], collection[iland]['height'], marker='+', c=colors['land'])
ax.scatter(collection[irest]['width'], collection[irest]['height'], marker='+', c=colors['rest'])
ax.scatter(collection[iport]['width'], collection[iport]['height'], marker='+', c=colors['port'])

ax.plot([200,5000], [200*1.2,5000*1.2], color=crest, ls='--', lw=1 )
ax.plot([200,5000], [200*.8,5000*.8], color=crest, ls='--', lw=1 )

# ax.get_xaxis().get_major_formatter().labelOnlyBase = False
ax.get_xaxis().set_major_formatter(matplotlib.ticker.ScalarFormatter())
ax.get_yaxis().set_major_formatter(matplotlib.ticker.ScalarFormatter())
ax.set_xticks([250, 500,1000,2000,4000])
ax.set_yticks([250, 500,1000,2000,4000])

pass

NameError: name 'plt' is not defined